.first{
    padding-left: 10px;
}
.logo{
width: 150px;
height: 40px;

}
.color-me{
color: black;
}
.bg-color{
    background-color:#F0FFF0 ;
}
.carousel-item{
padding: 10px 120px;
}

.color-me-2{
    color: white;
    background-color: #21B573  ;
    padding: 12px 28px;
    border-radius: 33px;    
}
.color-2{
    color:#21B573;
}
.first-line{
    color: rgb(240, 40, 40);
}
.paragraph{
    color: #6C6B6B;
}
.get-started-button{
    background-color: #21B573;
    color: #fff;
    border: none;
    border-radius: 33px;
    padding: 9px 25px;
    cursor: pointer;
}
.bold{
    width: 405px;
}

.topic{
    padding-top: 10px;
}
.topic img{
    height: 50px;
}
.students{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.ICON{
    padding: 30px;
    
}
.book{
    padding: 0px 70px;
    
    
}
.Books{
    background-color: #21B573;
}
.calender img{
    width: 18px;
}
.row{
    padding-top: 40px;
}
.online{
    padding: 40px;

}
.top{
    border-radius: 10px;
}
.middle{
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px lightgray;
}
.man{
    padding: 0px 110px;
   
}
.links{
    background-color: black;
    color: white;
    padding: 5px 100px;
    margin-top: 50px;
}
footer{
    text-align: center;
    padding-top: 40px;
}
